<h2><a href="../" >steve.savitzky.net</a>
  / <a href="./" ><code>Honu</code></a> /</h2>
<p> <a href="../">[..]</a>
    <a href="#files">[files]</a></p>
<link rel="stylesheet" type="text/css" href="/site/style.css" />

<blockquote>
Where the wind takes us next year no turtle can tell<br>
But we'll still be at home, come high water or hell,<br>
Because home is wherever you carry your shell.<br>
-- <cite><a href="http://steve.savitzky.net/Songs/windward/" >Windward</a></cite>, by
   Stephen Savitzky, 2015
</blockquote>
<p> This project contains a set of configuration files, with Makefiles for
    setup and installation, that allow you to set up a home directory exactly
    the way I like it, with a single command.  Unlike its predecessor, which
    was very specific to me, it's meant to be reasonably general -- it expects
    to find its repository on github, leaves your .mailrc and .signature files
    alone, and preserves most of your old configuration in case you didn't
    really mean it. 
</p>
<p> On the other hand, it still sets up my favorite aliases, gnome
    configuration options, emacs options, and <code>xmonad.hs</code>.  Forking
    is not only encouraged, it's practically mandatory if you want to stay
    sane.
</p>
<p> That said, it also has provisions for personal and machine-local
    customizations.  I first started putting those in to accommodate laptop
    and desktop systems with a wide range of screen sizes; it's gotten
    somewhat more general since then.
</p>
<p> <b>Note:</b> this file is meant for incorporation into my website.  If
    you're looking at it on github, you may already have noticed that it's
    mostly a duplicate of <code>README.md</code>.
</p>

<h2>Annotated Contents</h2>

<h3>Files</h3>
<dl>
  <dt> <code><a href="bootstrap.sh">bootstrap.sh</a></code>
  <dd> This is the shell script that I use to configure a system.  Set up your
       ssh keys, and say:<br>
      <code>wget -O - https://github.com/ssavitzky/Honu/bootstrap.sh | bash</code>
      <br>
      or something of the sort.  You can also clone the repo and source it, but
      that takes half the fun out of it.
  <dt> <code><a href="MIT_LICENSE.txt">MIT_LICENSE.txt</a></code>
  <dd> The license for this project.
  <dt> <code><a href="Makefile">Makefile</a></code>
  <dd> Once things get bootstrapped, the entire configuration process is run
       via the Makefile.  <code>make&nbsp;install</code> is the main target;
       eventually there will be targets for partial installs, e.g. on tiny
      systems or systems where I don't have <code>sudo</code> access.
  <dt> <code><a href="to.do">to.do</a></code>
  <dd> My to-do list, of course.  The format is trivial: an open circle
       (lowercase "o") is something that's not started yet; a period is
       something in progress, and a filled circle (asterisk) is finished.  "~"
       indicates something I've decided not to do, and "?" indicates something
       I'm dithering about.  "&amp;" indicates something I did that I wasn't
       planning to do.  Eventually finished items move to a "done" section.
</dl>


<h3>Directories</h3>
<dl>
  <dt> <code><a href="bin/" >bin/</a></code>
  <dd> Programs.  Mostly small shell scripts; I don't think there are any
       actual binary files in there at the moment.  Some are symlinks into
       other parts of the tree, e.g. dotfiles/_xmonad.  No doubt many are
       useless at this point; some date back to the days of usenet.
  <dt> <code><a href="dotconfig/" >dotconfig/</a></code>
  <dd> Configuration files and directories that go into
       <code>~/.config/</code>.  These are symlinked so as not to conflict
       with the stuff already there.
  <dt> <code><a href="dotfiles/" >dotfiles/</a></code>
  <dd> Configuration files that go into the home directory.  They are
       symlinked rather than being copied.
  <dt> <code><a href="emacs/" >emacs/</a></code>
  <dd> Like it says on the tin:  configuration files for emacs.  This doesn't
       include <code>.emacs</code>, which you'll find in <code>dotfiles</code>.
  <dt> <code><a href="local/" >local/</a></code>
  <dd> Files that are expected to be edited on a per-system or per-user basis.
       Initial versions are created by <code>make&nbsp;install</code>
  <dt> <code><a href="opt/" >opt/</a></code>
  <dd> The Makefile here lets you download and install various optional
       programs from elsenet.  (Right now the only one is <code>dzen2</code>
       -- older releases of Debian and Ubuntu don't have one that's recent
       enough to include all the features I want to use with
       <code>xmonad</code>.) 
  <dt> <code><a href="setup/" >setup/</a></code>
  <dd> Scripts for configuring the things that can't (easily) be installed by
       simply symlinking a dotfile.  This includes a lot of Gnome options.
       There are also files with a <code>-pkgs</code> suffix, that install
       programs using <code>apt</code>.
</dl>

<hr />
<b>Copyright &copy;  Stephen R. Savitzky (HyperSpace Express)</b><br />

